<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="manifest" href="images/site.webmanifest">

<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="images/mstile-144x144.png?v=M44lzPylqQ">
<meta name="msapplication-config" content="images/browserconfig.xml?v=M44lzPylqQ">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="assets/css/academicons.css"/>

<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

<script>
  function isMobile() {
    return window.innerWidth <= 768;
  }

  function moveMapIfMobile() {
    const mapDiv = document.getElementById("map-container");
    const mobilePlaceholder = document.getElementById("map-mobile-placeholder");
    
    if (isMobile() && mapDiv && mobilePlaceholder) {
      // 移动地图 script 到正文
      mobilePlaceholder.style.display = 'block';
      mobilePlaceholder.appendChild(mapDiv);
    }
  }

  // 页面加载时判断一次
  window.addEventListener("DOMContentLoaded", moveMapIfMobile);
  // 如果用户手动调整窗口大小，也重新判断
  window.addEventListener("resize", moveMapIfMobile);
</script>
  
<!-- end custom head snippets -->
